* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    background: linear-gradient(to left #41295a, #2F0743);
}

form {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 150px;
}

form label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

form label input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

form button {
    padding: 10px 40px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

.notif {
    background-color: #8f36f4;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: 20%;
    right: 20%;
    z-index: 1;
    transform: translateY(100px);
    transition: 0.6s ease-in-out;
}

.information-login {
    background-color: #8f36f4;
    color: white;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.information-login button {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.information-login .title-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information-login .layout-information {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: left;
    align-items: left;
    text-align: left;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    font-family: "Arial", sans-serif;
}