*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #F1F5F9;
}

.navigasi {
  background-color: #1E40AF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  border-radius: 2vw 2vw 0 0;
}
.navigasi-hidden {
  height: 0;
  overflow: hidden;
  transition: 0.3s ease;
}
.navigasi-hidden ul {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  justify-content: flex-start;
  background-color: #1e1e1e;
  padding: 1vw;
}

.navigasi-hidden ul li {
  list-style: none;
  display: flex;
  gap: 1vw;
  align-items: center;
}

.navigasi-hidden ul li i {
  color: #79eaf5;
  font-size: 1.2rem;
}

.navigasi-hidden ul li a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  font-family: 'Inter', sans-serif;
}

.navigasi-hidden li a:hover {
  transition: 0.3s ease;
  color: #c0f38b;
}

.navigasi .logo-rpl-placeholder {
  width: 10vw;
  height: 10vw;
}

.placeholder-logo {
  width: 20vw;
  height: 20vw;
}

.placeholder-logo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.navigasi .logo-rpl-placeholder img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.button-navigasi {
  background-color: #428dde;
  border-radius: 2vw;
  padding: 1.5vw;
  margin-right: 1vw;
}

.button-navigasi i {
  font-size: 4vw;
  color: ghostwhite;
}

.about-class {
  display: flex;
  flex-direction: column
}

.laman-utama {
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  padding: 1vw;
  gap: 1vw;
}

.laman-utama .judul-laman {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.judul-laman h1 {
  font-size: 2rem;
  color: #374151;
}

.laman-struckture {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 1vw;
  padding: 1vw;
  background-color: #1F2937;
  border-radius: 2vw;
}

.jadwal-class {
  margin-top: 1.5vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 1vw;
  padding: 1vw;
  background-color: #ab88f7bf;
  border-radius: 2vw;
}

.jadwal-class h2 {
  text-align: center;
  color: ghostwhite;
}

.jadwal-class .laman-layout-card {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.laman-layout-card .card-jadwal {
  width: 40vw;
  height: 50vw;
  background-color: #ad92e7bf;
  border-radius: 1.5vw;
}

.card-jadwal .jadwal-day-teks {
  background-color: #ada4c1bf;
  border-radius: 1.5vw 1.5vw 0 0;
  text-align: center;
}

.card-jadwal .jadwal-day-teks p {
  font-family: 'inter', monospace;
  font-size: 1.2rem;
  color: #fbfafcbf;
}

.laman-profile-wali {
  background-color: #2E1F39;
  border-radius: 2vw;
}

.laman-profile-murid {
  background-color: #111827;
  border-radius: 2vw;
  padding: 0 0 0.5vw;
}

.placeholder-profile {
  width: 30vw;
  height: 35vw;
}

.placeholder-profile img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.border-layout-murid {
  display: flex;
  gap: 1vw;
  align-items: center;
  align-content: center;
}

.laman-struckture .name {
  margin-top: 1vw;
}

.laman-struckture .name p {
  text-align: center;
  color: #ccc;
  font-family: 'Popins', sans-serif;
}

.laman-struckture .title {
  background-color: dimgray;
  border-radius: 2vw 2vw 0 0;
  padding-top: 0.5vw;
}

.laman-struckture .title p {
  text-align: center;
  color: #ccc;
  font-family: 'Inter', sans-serif;
}

.laman-struckture h2 {
  color: #F9FAFB;
}