*{
  margin: 0;
  padding: 0;
}

.navigasi {
  background-color: #1E40AF;
  display: flex;
  justify-content: space-between;
}

.navigasi ul li a {
  text-decoration: none;
  list-style: none;
}

.navigasi .logo-rpl-placeholder {
  width: 4vw;
  height: 4vw;
}
